{% extends 'base.html.twig' %}

{% block title %}Ajouter une personne{% endblock %}

{% block body %}
    <h1 class="text-light">Ajouter une personne au calcul</h1>
    <h2 class="text-light">Vous pouvez ajouter un participant avec ce qu'il a dépensé</h2>
    {{ form(formulaire) }}
{# TODO ajouter liens de navigations #}
{% endblock %}
