{% extends 'base.html.twig' %}

{% block title %}Calcul dépense soirée{% endblock %}

{% block body %}
    <h1>Calcul dépense soirée</h1>
    <h2>Vous pouvez ajouter les participants avec ce qu'ils ont dépensé</h2>
    {{ form(formulaire) }}

{% endblock %}
